{% extends "indexBase.html" %}
{% block head %}
    {% if dev %}
    <link rel="stylesheet/less" href="{{static_url('css/index.less')}}">
    <link rel="stylesheet/less" href="{{static_url('css/addArticle.less')}}">
    <link rel="stylesheet/less" href="{{static_url('css/commonResponse.less')}}">
    {% else %}
    <link rel="stylesheet" href="{{static_url('css/index.css')}}">
    <link rel="stylesheet" href="{{static_url('css/addArticle.css')}}">
    <link rel="stylesheet" href="{{static_url('css/commonResponse.css')}}">
    {% end %}
    <link rel="stylesheet" href="{{static_url('css/github-markdown.css')}}">
    <link rel="stylesheet" href="{{static_url('css/monokai_sublime.min.css')}}">
    <script src="{{static_url('js/highlight.min.js')}}"></script>
    <script src="{{static_url('js/indexCommon.js')}}"></script>
    <script src="{{static_url('js/markdown.min.js')}}"></script>
    <script src="{{static_url('js/addArticle.js')}}"></script>
{% end %}
{% block article %}
    <article>
        <section>
            <textarea id="article_title" class='article_head' placeholder="记下这片博文的主题～"></textarea>
        </section>
        <section>
            <textarea id="brief_intro" class='article_head' placeholder='写下这篇博文的简要介绍～'></textarea>
        </section>
        <section>
            <div class="markdown-body"></div>
            <textarea class="edit_block" placeholder='博文主体，支持markdown语法呦～'></textarea>
        </section>
    </article>
    <div class="loading"></div>
    <div class="setting_bar">&#xe601;</div>
    <div class="back_bar bar bar_initial">&#xe605;</div>
    <div class="save_bar bar bar_initial">&#xe606;</div>
    <div class="delete_bar bar bar_initial">&#xe603;</div>
    <div class="makesure">
        <div>
            <span></span>
            <div>
                <input type="button" class='btn-a' value='确定'/>  
                <input type="button" class='btn-a' value='取消'/>
            </div>
        </div>
    </div>
{% end %}
