{% extends "/root/Web/blog/template/indexBase.html" %}
{% block head %}
    {% if dev %}
    <link rel="stylesheet/less" href="{{static_url('css/index.less')}}">
    {% else %}
    <link rel="stylesheet" href="{{static_url('css/index.css')}}">
    {% end %}
    <script src="{{static_url('js/indexCommon.js')}}"></script>
    {% if admin %}
    <script src="{{static_url('js/adminIndex.js')}}"></script>
    {% else %}
    <script src="{{static_url('js/index.js')}}"></script>
    {% end %}
{% end %}
{% block article %}
	<article class='wt-container'>
    </article>
    {% if admin %}
    <div id="manage_bar" class='bar_common'>&#xe601;</div>
    <div id="add_bar" class='bar_common'>&#xe604;</div>
    {% end %}
    {% module xsrf_form_html() %}
{% end %}
