{% extends "indexBase.html" %}
{% block head %}
    <link rel="stylesheet/less" href="{{static_url('css/index.less')}}">
    <script src="{{static_url('js/indexCommon.js')}}"></script>
    <script src="{{static_url('js/index.js')}}"></script>
{% end %}
{% block article %}
	<article class='wt-container'>
	    <section class='essays wt-item'>
	        <div class="essay_shortcut">
	            asndjkasdasjkdbasjkbdas
	            asdnkjasdnaksjnajskdas
	            aksjdbnaskjbakbdnasd
	            adnajkdnaksjdnasd
	            asndkjasndkasdnaskd
	            anksjdbnaskjdnsakd
	            asndkjasndkasjdasdk
	        </div>
	        <div class="essay_title">
	            <p>
	                asjdmklasjndkajlsdnajskd
	            </p>
	        </div>
	    </section>
	</article>
{% end %}
