.article_head {
    border-radius: 5px 5px 0px 0px;
    height: 50px;
    position: relative;
    color: rgb(232, 232, 232);
    outline: none;
    text-indent: 1em;
    box-sizing: border-box;
    padding-top: 10px;
    resize: none;
}
#article_title {
    border: 0;
    width: 65%;height: 45px;
    background-color: rgba(134, 59, 203, 0.83);
    box-shadow: 1px 0px 5px rgb(124, 107, 107);
    &::-webkit-input-placeholder {
        color: #81CDC1;
    }
}
#brief_intro {
    width: 80%;
    background-color: rgb(91, 152, 149);
    box-shadow: 1px 0px 6px rgba(56, 56, 56, 0.68);
    &::-webkit-input-placeholder {
        color: #FFCA58;
    }
}
section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.edit_block {
    width: 50%;height: 585px;
    resize: none;
    border: 0;outline: none;
    background-color: rgb(90, 90, 90);
    color: white;
    white-space: pre;
    box-shadow: 2px 2px 5px rgb(97, 97, 97);
}
.markdown-body {
    width: 50%;height: 585px;
    box-shadow: -2px 2px 5px rgb(168, 168, 168);
    display: inline-block;
    overflow-y: auto;
    border: 1px solid rgb(221, 221, 221);
}
.markdown-body>* {
    white-space: pre;
}
#control_bar {
    width: 50px;height: 50px;
    background-color: #4285F4;
    position: fixed;
    bottom: 10px; right: 10px;
    -webkit-transition: background-color 200ms ease-in-out;
    -webkit-user-select: none;
    &>span {
        margin: auto;
        font-size: 35px;
        position: absolute;
        font-family: 'iconfont';
        width: 35px;height: 38px;
        left: 0;right: 0;top: 0;bottom: 0;
        color: rgba(255, 255, 255, 0.76);
        cursor: pointer;
    }
    &:hover {
        background-color: #2A56C6;
    }
    border-radius: 50%;
}
#setting {
        width: 150px;height: 100px;
        position: fixed;
        bottom: 50px;right: 50px;
        border-radius: 6px 6px 0px 6px;
        box-sizing: border-box;
        padding: 6px 6px;
        display: none; opacity: 0;
        -webkit-transition: all 100ms ease-in-out;
        &>div {
            box-sizing: border-box;
            padding: 14px;
            width: 100%;height: 50%;
            text-align: center;
            background-color: #EEE;
            border-radius: 5px;
            margin: 1px;
            cursor: pointer;
            -webkit-transition: all 300ms ease-in-out;
            &>p {
                margin: 0;
                color: rgb(98, 98, 98);
            }
            &:hover {
                background-color: white;
                color: black;
            }
        }
}
#makesure {
    width: 100%;height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;bottom: 0;right: 0;left: 0;
    margin: auto;
    background-color: rgba(2, 2, 2, 0.6);
    display: none;
    &>div {
        width: 300px;height: 200px;
        position: absolute;
        top: 0;bottom: 0;right: 0;left: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(184, 143, 118, 0.88);
        border-radius: 5px;
        &>span {
            width: 80%;height: 100px;
            margin-top: 30px;
            box-sizing: border-box;
            padding: 30px 10px;
            text-align: center;
            color: white;
        }
    }
}

