/*将来那个body和html的高度是要取消的*/
body, html {
    width: 100%;
    height:100%;
    background-color: rgb(227, 236, 195);
    padding: 0;
    margin: 0;
}
header {
    width:100%;
    height:50px;
    background-color: green;
}
header>p {
    margin: 0;
}
nav {
    background-color: orange;
}
nav>ul {
    list-style: none;
}
nav>ul>li {
    display: inline-block;
}
